# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.so
*.egg
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data (large files)
data/*.csv
data/*.gz
data/*.zip

# IDE
.vscode/
.idea/
